<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.0.0-dist/css/bootstrap.min.css') }}">
</head>
    <div class="container-fluid first-sec">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 logo">
            <img src="{{ url_for('static', filename='images/InfaBrands.png') }}" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                     <li><a href="#">Contact us</a></li>
                </ul> 
            </div>
        </div>
    </div>
<!------------------------------------------------------>
<div class="container-fluid second-sec" style="background-image: url('/static/images/43 1.png');">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 para">
            <p>Find the best Influencers to promote and best Advertisers to work for</p>
        </div>
         <div class="social-icons">  
              <a href="#" class="img_1">
                <img src="{{ url_for('static', filename='images/Group 636.png') }}" alt="">
                <!-- <img src="images/Group 636.png" alt="" /> -->
              </a>
              <a href="#" class="img_2">
                <img src="{{ url_for('static', filename='images/Group 634.png') }}" alt="">
                <!-- <img src="images/Group 634.png" alt="" /> -->
              </a>
          </div>
</div>
</div>
    <!-------------------------------------------------------------->
    <div class="container-fluid third-sec">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 head">
        <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 para-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 btn-1"> -->
        <button class="btn-1">Download The App Now!</button>
      </div>
        <!-- </div> -->
        </div>
    </div>
<!--------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="container-fluid fourth-sec">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 feature">
        <h2>Features</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 adver">
        <h3>Advertisers</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bdr">
           <img src="{{ url_for('static', filename='images/Rectangle 259.png') }}" alt="">
            <!-- <img src="images/Rectangle%20259.png" alt=""> -->
    </div>
    </div>
    </div>
<!----------------------------------------------------------------------------------------------->
    <div class="container-fluid fifth-sec">
        <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 phn-1" style="background-image: url('/static/images/Group6.png'); background-repeat: no-repeat;">
          <img src="{{ url_for('static', filename='images/1576 3.png') }}" alt="">

            <!-- <img src="images/1576%203.png" src=""> -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 head-1">
            <h4>Easy Filteration</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 dot-1">
              <img src="{{ url_for('static', filename='images/Group 669.png') }}" alt="">

            <!-- <img src="images/Group%20669.png" alt=""> -->
            </div>
        </div>
        </div>
    </div>

        <!---------------------------------------------------------------------------->
        <div class="container-fluid sixth-sec">
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 dot-2">
              <img src="{{ url_for('static', filename='images/Group 672.png') }}" alt="">

            <!-- <img src="images/Group%20672.png" alt=""> -->
        </div>
            </div>
       <div class="container" id="bor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 head-2">
            <h4>Simplified Home View</h4>
            <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod. Lorem ipsum <br> dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 phn-2" style="background-image: url('/static/images/651.png'); background-repeat: no-repeat;">
          <img src="{{ url_for('static', filename='images/homepage.png') }}" alt="">
            <!-- <img src="images/homepage.png"> -->
        </div>
            </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------>
         <div class="container-fluid seventh-sec">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 infe">
        <h3>Influencers</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bdr-1">
          <img src="{{ url_for('static', filename='images/Rectangle 259.png') }}" alt="">
            <!-- <img src="images/Rectangle%20260.png" alt=""> -->
    </div>
    </div>
    </div>
        <!---------------------------------------------------------------------------------------------------------------------------------->
       
         <div div class="container-fluid eighth-sec">
        <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 phn-3" style="background-image: url('/static/images/Group6.png');">
          <img src="{{ url_for('static', filename='images/mockup.png') }}" alt="">
            <!-- <img src="images/mockup.png"src=""> -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 head-3">
            <h4>Bidding Option</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 dot-3">
          <img src="{{ url_for('static', filename='images/Group 669.png') }}" alt="">
            <!-- <img src="images/Group%20669.png" alt=""> -->
        </div>
        </div>
    </div>
    </div>
        <!--------------------------------------------------------------------------------------------------->
         <div class="container-fluid ninth-sec">
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 dot-4">
              <img src="{{ url_for('static', filename='images/Group 672.png') }}" alt="">
            <!-- <img src="images/Group%20672.png" alt=""> -->
        </div>
            </div>
       <div class="container" id="bot">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 head-4">
            <h4>Task Management</h4>
            <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod. Lorem ipsum <br> dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 phn-4" style="background-image: url('/static/images/651.png');">
          <img src="{{ url_for('static', filename='images/homepage.png') }}" alt="">
            <!-- <img src="images/homepage.png" src=""> -->
        </div>
            </div>
            </div>
        </div>
        
        <!------------------------------------------------------------------------------------------------------>
             <div class="container-fluid tenth-sec">
             <div class="container">
                 <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 blog-1">
                     <p>Blog</p>
                     </div>
                 </div>
                 </div>
             </div>
             <!--------------------------------------------------------------------------------------->
             <div class="dot-8">
              <img src="{{ url_for('static', filename='images/Group 671.png') }}" alt="">
             <!-- <img src="images/Group%20671.png" alt=""> -->
             </div>
        <!-------------------------------------------------------------------------------------------------------------->
             <div class="container-fluid eleventh-sec">
             <div class="container">
                 <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 blog-2">
                  <div class="card shadow" style="width: 20rem;">
                    <img src="{{ url_for('static', filename='images/mask.png') }}">
                    <!-- <img src="images/Mask%20Group%20(13).png" class="card-img-top" alt="..."> -->
                  
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet</p>
                     <span>september 16, 2020</span>
                     <button><a href="" style=" margin-left: -22px;">READMORE </a></button>
                    </div>
                  </div>
                </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 blog-2">
                   <div class="card shadow" style="width: 20rem;">
                    <img src="{{ url_for('static', filename='images/mask.png') }}" alt="">
                    <!-- <img src="images/Mask%20Group%20(13).png" class="card-img-top" alt="..."> -->
                  
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet</p>
                     <span>september 16, 2020</span>
                     <button><a href="" style=" margin-left: -22px;">READMORE </a></button>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 blog-2">
                   <div class="card shadow" style="width: 20rem;">
                    <img src="{{ url_for('static', filename='images/mask.png') }}" alt="">
                    
                    <!-- <img src="images/Mask%20Group%20(13).png" class="card-img-top" alt="..."> -->
                  
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet</p>
                     <span>september 16, 2020</span>
                     <button><a href="" style=" margin-left: -22px;">READMORE </a></button>
                    </div>
                  </div>
                </div>
                  </div>
                 </div>
             </div>
             <!--     <div class="card shadow blog-2">
                     <img src="images/Mask%20Group%20(13).png" alt="">
                     <p>Lorem ipsum dolor sit amet</p>
                     <span>september 16, 2020</span>
                     <button>READMORE</button>
                     </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 blog-2">
                     <img src="images/Mask%20Group%20(13).png" alt="">
                          <p>Lorem ipsum dolor sit amet</p>
                     <span>september 16, 2020</span>
                     <button>READMORE</button>
                     </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 blog-2">
                     <img src="images/Mask%20Group%20(13).png" alt="">
                          <p>Lorem ipsum dolor sit amet</p>
                     <span>september 16, 2020</span>
                     <button>READMORE</button>
                     </div> -->
                 
        <!----------------------------------------------------------------------------------------------->
             <div class="container-fluid twelveth-sec">
             <div class="container" id="don">
                 <div class="row">
                  
                  <!-- <img src="images/Group%20672.png" alt=""> -->
                    
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dwnld">
                     <p>Download the App Now!</p>
                     </div> 
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 dwnld-1">
                   <a href="#"><img src="{{ url_for('static', filename='images/Group 634.png') }}" alt=""></a>
                  <!-- <a href="#"><img src="images/Group%20634.png" alt=""></a> -->
                  </div> 
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 dwnld-2">
                        <a href=""><img src="{{ url_for('static', filename='images/Group 636.png') }}" alt=""></a>
                       <!-- <a href="#"><img src="images/Group%20636.png" alt=""></a> -->
                       </div> 
             </div>
             </div>
            </div>
<!----------------------------------------------------------------------------------->
        <div class="container-fluid coni">
               <div class="conatiner" id='con'>
                   <h1>Contact Us</h1>
               </div>
           </div>
           <div class="container-fluid linea">
               <div class="container">
                   <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                           <div class="inn">
                               <h4>Email Us</h4>
                               <p>First Name</p>
                               <input type="text" name="" value="" placeholder="First Name">
                               <p>Email Us</p>
                               <input type="email" name="" value="" placeholder="Email">
                               <p>Message</p>
                               <textarea></textarea>
                               <button>Submit</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <footer class="bg-dark text-white" id="fot">
                         <div style="border-bottom: 1px  solid white">

                          <ul class="nav justify-content-end float-right">
                          <li class="nav-item">
                           <a href="#" class=" text-dark bg-white mx-2 p-1 fa fa-facebook"></a>

                          </li>
                          <li class="nav-item">
                            <a href="#" class=" text-dark bg-white mx-2 p-1 fa fa-instagram"></a>
                          </li>
                          <li class="nav-item">
                           <a href="#" class=" text-dark bg-white mx-2 p-1 fa fa-twitter"></a>
                          </li>
                        
                        </ul>
                          <ul class="nav justify-content-center d-flex">
                          <li class="nav-item">
                            <a class="nav-link text-white py-4" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white py-4" href="#">Blog</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white py-4" href="#">Contact Us</a>
                          </li>
                         </ul>
                      </div>
                        

                        <ul class="nav justify-content-center d-flex">
                          <li class="nav-item">
                            <a class="nav-link text-white py-4" href="#">&copy;2019 forpeople Studio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white py-4" href="#">Privacy Policy </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white py-4" href="#">Terms Of Service</a>
                          </li>
                         
                        </ul>

                      </footer>

           <!-- <div class="container-fluid copp">
               <div class="container">
                   <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 secc">
                           <div class="hoho">
                           <li style="margin-left: 280px;">Home</li>
                           <li>Blog</li>
                           <li>Contact Us</li>
                        </div>
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 fbb">
                           <div class="inatt">
                           <a href=""><i class='fab fa-facebook-square'></i></a>
                           <a href=""><i class='fab fa-instagram'></i></a>
                           <a href=""><i class='fab fa-youtube-square'></i></a>
                        </div>
                       </div>
                   </div>
                   <hr style="border: 1px solid gray;">
                   <di class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 rig">
                        <p class="rigg" style="margin-left: 202px;">@2019 Privacy Policy</p>
                        <p class="rigg">Privacy Policy</p>
                        <p class="rigg">Terms and Services</p>
                    </div>
               </div>
           </div>
        </div> -->
           </body>
            </html>
